div.mm-mint {
  background-image: url(./../../img/19.png), url(./../../img/back-game.png);
  background-repeat: no-repeat, repeat;
  background-size: 100% 40%, cover;
  background-position: bottom, left;
  border-top: 3px solid #79710b;
  min-height: 100vh;
  text-align: center;
  padding-top: 5.2rem;
  position: relative;
  place-items: center;
  > div:nth-child(2) {
    margin-top: 1rem;
  }
}

.market {
  background-image: url(./../../img/19.png);
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: bottom;
  position: relative;
}

.mmlogincenterdiv {
  width: 400px;
  margin: auto;
  margin-top: 140px;
}
.logo-text {
  float: left;
  line-height: 20px;
  margin-left: 20px;
  padding: 10px 0;
}
.logo-img {
  float: left;
}
.mm-connect {
  font-size: small;
}
.mediadiv {
  display: table;
  margin: auto;
  margin-top: 12vh;
}
@media (max-width: 500px) {
  .mmlogincenterdiv {
    width: 350px;
  }
  .mmfirstp {
    font-size: 23px;
    margin: 20px 0;
  }
  .mmsecondp {
    font-size: 18px;
    margin: 20px 0;
  }
}
@media (max-width: 400px) {
  .mmlogincenterdiv {
    width: 300px;
  }
  .mmfirstp {
    font-size: 20px;
    margin: 20px 0;
  }
  .mmsecondp {
    font-size: 15px;
    margin: 20px 0;
  }
}

// form
.buy-egg-form {
  font-size: 16px;
  width: 100%;

  & .buy-egg-form-label {
    background: #04142c;
    min-height: 50px;
    justify-content: space-between;
    padding: 0 0.31rem;
    align-items: center;
    border-radius: 0.25rem;
  }
  & .buy-egg-form-quantity {
    align-items: center;
    margin: 0.31rem 0;
    & div:nth-child(1) {
      margin-left: auto;
      margin-right: 0.31rem;
    }
  }
  & .number-input {
    width: 70px;
  }
  & input {
    background: #04142c;
    border: 0;
    min-height: 50px;
    border-radius: 0.25rem;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0.35rem;
    &::placeholder {
      color: white;
      font-size: 16px;
      font-weight: bold;
      opacity: 1;
      line-height: 15px;
      vertical-align: text-top;
    }
  }
  & .buy-egg-form-terms {
    color: white;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
  }
  & .buy-egg-form-actions {
    justify-content: space-around;
  }
}

.NFT-status-container {
  display: flex;
  > div:nth-child(2) {
    margin: 0 20px;
  }
}
@media (max-width: 820px) {
  .NFT-status-container {
    flex-direction: column;
    > div:nth-child(2) {
      margin: 10px auto;
    }
  }
}
.NFT-status-box {
  font-size: 18px;
  text-align: left;
  border: 3px solid var(--yellow);
  border-radius: 0.51rem;
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  margin: 0 0.25rem;
  min-width: 225px;
  max-width: 225px;
  margin: 0 auto;

  & div:nth-child(2) {
    color: var(--yellow);
  }
}
.NFT-view-container {
  margin-top: 1rem;
  position: relative;
}
.image-container {
  border: 3px solid var(--yellow);
  border-radius: 0.51rem;
  max-width: 225px;
  min-height: 225px;
  max-height: 288px;
  position: relative;
  margin: auto;
  display: grid;
  place-items: center;
}
.NFT-view-info-price {
  display: grid;
  place-items: center;
  background: var(--statusblue);
  border: 3px solid var(--yellow);
  margin: 0 auto;
  margin-top: -1.22rem;
  max-width: 177px;
  border-radius: 0.51rem;
  font-size: 18px;
  padding: 0.31rem 0;
  position: relative;
  & div:nth-child(2) {
    color: var(--yellow);
  }
}
.NFT-view-info-stats {
  display: grid;
  text-align: left;
  background: var(--statusblue);
  border: 3px solid var(--yellow);
  margin: 0 auto;
  max-width: 150px;
  margin-top: -3px;
  border-top-right-radius: 0.51rem;
  border-bottom-right-radius: 0.51rem;
  font-size: 12px;
  padding: 0.11rem 0;
  position: absolute;
  right: -112px;
  top: 20px;
  & * {
    margin-left: 0.35rem;
    padding-right: 5px;
  }
}
@media (max-width: 453px) {
  .NFT-view-info-stats {
    right: -3px;
    top: 0;
    font-size: 10px;
  }
}
.NFT-view-info-price {
  box-shadow: 0px -2px 10px -2px white;
}
.NFT-view-info-stats {
  box-shadow: 0px 2px 10px -2px white;
}
.mint-button {
  padding: 2px;
  font-size: 20px;
}
// wallet (probably had to moev these to a single file
div.mm-wallet {
  background-image: url(./../../img/19.png), url(./../../img/back-game.png);
  background-repeat: no-repeat, repeat;
  background-size: 100% 40%, cover;
  background-position: bottom, left;
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.wallet-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  .value {
    margin: 0.2rem 0;
    color: var(--coinvalue);
    legend {
      color: var(--bluetitles);
      font-size: 12px;
    }
  }
  > div:nth-child(2) {
    margin-top: 0.55rem;
    margin-right: 0.61rem;
    font-size: 22px;
    .h1 {
      font-size: 34px;
      border-bottom: 3px solid var(--yellowborder);
      margin-bottom: 0.51rem;
    }
    h7 {
      color: var(--bluetitles);
    }
    .wallet-blue-box {
      text-align: left;
      margin: 0.7rem 1rem 0.7rem 0;
    }
    .crypto-value {
      font-size: 40px;
      margin-top: -5px;
      legend {
        margin-top: -10px;
        font-size: 19px;
      }
    }
    .wallet-blue-box-image {
      position: absolute;
      right: 5px;
      top: 5px;
      img {
        max-width: 80px;
      }
    }
  }
}
@media (max-width: 863px) {
  .wallet-layout {
    grid-template-columns: 1fr;
  }
}
.wallet-blue-box {
  background: #081e43;
  width: clamp(260px, 20vw, 70rem);
  max-width: 260px;
  min-height: 200px;
  padding: 0.61rem;
  text-align: center;
  position: relative;
  border: 3px solid var(--yellowborder);
  border-radius: 0.5rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  .wallet-user-info {
    margin: auto 0;
  }
  .wallet-user-info-menu {
    > nav > ul {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      text-align: left;
      > li {
        min-width: 100%;
        border-top: 1px solid #666;
        > a {
          width: 100%;
          display: flex;
          > span {
            margin-right: 5px;
          }
        }
      }
    }
  }
  & h1 {
    font-size: 31px;
  }
  & button {
    font-size: 14px;
    padding: 0.45rem 0.46rem;
  }
  & button.close-modal-button {
    position: absolute;
    top: 5px;
    right: 6px;
    background: white;
    border: 0;
    padding: 0.01rem;
    border-radius: 100%;
    cursor: pointer;
    width: 18px;
    font-weight: 800;
  }
  & p {
    font-size: 18px;
    line-height: 19px;
    padding: 0 1rem;
    font-weight: normal;
  }
  & legend {
    font-size: 16px;
  }
}
.create-account-modal button.create-acc-button {
  margin: 0.25rem 0 0 auto;
}
.mintegg-cancel-button {
  left: 25px;
  bottom: 22px;
  > :nth-child(2) {
    margin-left: 6px !important;
  }
}
button[disabled],
button:disabled {
  filter: brightness(40%);
  cursor: default;
  &:hover {
    filter: brightness(40%) !important;
  }
}

.mmtitle {
  font-size: 30px;
  text-align: left;
  width: 100%;
}
.game-wrapper {
  padding-top: 53px;
  max-width: 350px;
  margin: 0 auto;
  place-content: center;
  place-items: center;
  height: 100%;
  > p {
    font-weight: 100;
    font-size: 19px;
    line-height: 22px;
  }
  > p:nth-child(4) {
    font-size: 14px;
    line-height: 18px;
  }
}
#metamask-logo {
  width: 30%;
  margin: 0;
  text-align: left;
}
#metamask-logo svg {
  width: 50px;
  height: auto;
}
.mm-button {
  text-align: left;
  vertical-align: baseline;
  > span {
    margin-top: 3px;
    font-variant-caps: normal;
    font-weight: 800;
  }
}
.huevo-img {
  max-width: 143px !important;
  max-height: 146px;
}

.hero-img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 475px) {
  .hero-img {
    width: 80% !important;
  }
}
.absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.absolute-fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.marketplace-back-action {
  position: absolute;
  left: -10px;
  top: -40px;
  button {
    background: none;
    border: 0;
    color: white;
    font-weight: 800;
    &::before {
      content: "<";
      margin-right: 10px;
    }
  }
}
.market-modal-stats {
  margin-top: 20px;
}
.market-modal-stats .flex-wrapper {
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  padding: 2px 0;
  > div:nth-child(2) {
    color: var(--yellow);
  }
}

.marketplace-modal-values {
  margin: 20px 0;
  & div:nth-child(1) {
    color: var(--yellow);
    font-size: 30px;
  }
  & div:nth-child(2) {
    color: #29abe2;
    font-size: 15px;
  }
}
a.active {
  background: -webkit-linear-gradient(
    180deg,
    var(--orange) 0%,
    var(--yellow) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 14px 3px 25px var(--orange), -14px 3px 25px var(--yellow);
  filter: brightness(150%);
}

.game-logo {
  position: relative;
  .spinning-aura {
    background: url(../../img/logo-aura.png);
    -webkit-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 260px;
    height: 260px;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 130px);
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    filter: opacity(0.8);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.game-btn {
  color: #42210b;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #42210b;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  padding: 10px 30px;
  background: #fcee21;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(25%, #fcee21),
    color-stop(94%, #f7931e)
  );
  background: linear-gradient(0deg, #fcee21 25%, #f7931e 94%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  text-decoration: none;
  font-size: 2.2em;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  > img {
    max-width: 30px;
  }
  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0px 3px 26px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 3px 26px 0px rgba(255, 255, 255, 0.75);
  }
}

.blue {
  border-color: #0e2050;
  background: #29abe2;
  background: linear-gradient(143deg, #7fb1f6 25%, #37a1d7 94%);
  padding: 5px 18px;
  border-radius: 50%;
  > img {
    max-width: 30px;
  }
  height: 70px;
  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0px 3px 26px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 3px 26px 0px rgba(255, 255, 255, 0.75);
  }
}
@media (max-width: 350px) {
  .blue {
    padding: 0px 4px;
    height: 45px;
  }
}
.red-btn {
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #42210b;
  background-color: #cb1319;
  border-color: #19052b;
  color: #fff;
  border-width: 3px;
  > img {
    max-width: 30px;
  }
}
.sort-area {
  text-align: right;
}

.sort-area select {
  background: transparent;
  border: 1px solid var(--yellowborder);
  color: white;
  padding: 10px 30px 10px 0;
  border-radius: 8px;
}
